 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">CSharp</figcaption>
      </figure>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">C++</figcaption>
      </figure>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Python</figcaption>
      </figure>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      </figure>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rider/rider-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Riders</figcaption>
      </figure>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/visualstudio/visualstudio-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">VStudio</figcaption>
      </figure>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Git</figcaption>
      </figure>
    </div>
    <div class="tech">
      <h2>Engines</h2>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unity/unity-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Unity</figcaption>
      </figure>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unrealengine/unrealengine-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">UE4</figcaption>
      </figure>
      <figure style="display: inline-block; margin: 0px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/godot/godot-original.svg" />
        <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Godot</figcaption>
      </figure>
    </div>
  </div>
  <div class="user">
    <div class="tech">
        <h2>Teamwork</h2>
        <figure style="display: inline-block; margin: 0px;">
          <img src="https://img.icons8.com/?size=100&id=68803&format=png&color=000000" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Teams</figcaption>
        </figure>
        <figure style="display: inline-block; margin: 0px;">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jira/jira-original.svg" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Jira</figcaption>
        </figure>
        <figure style="display: inline-block; margin: 0px;">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/trello/trello-original.svg" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Trello</figcaption>
        </figure>
    </div>
    <div class="tech">
        <h2>Media</h2>
        <figure style="display: inline-block; margin: 0px;">
          <img src="/assets/img/DaVinci_Resolve_17_logo.svg" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">DaVinci</figcaption>
        </figure>
        <figure style="display: inline-block; margin: 0px;">
          <img src="https://img.icons8.com/?size=100&id=60851&format=png&color=000000" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Paint.NET</figcaption>
        </figure>
        <figure style="display: inline-block; margin: 0px;">
          <img src="https://img.icons8.com/?size=100&id=KDGdN57NLSJa&format=png&color=000000" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Blender</figcaption>
        </figure>
    </div>
    <div class="tech">
        <h2>Game I play</h2>
        <figure style="display: inline-block; margin: 0px;">
          <img src="https://img.icons8.com/?size=100&id=35611&format=png&color=000000" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Dota 2</figcaption>
        </figure>
        <figure style="display: inline-block; margin: 0px;">
          <img src="/assets/img/civ5.png" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Civ 5</figcaption>
        </figure>
        <figure style="display: inline-block; margin: 0px;">
          <img src="/assets/img/Factorio_29.webp" />
          <figcaption style="font-size: 18px; margin: 0px; text-align:center;">Factorio</figcaption>
        </figure>
    </div>
  </div>
</div>
