<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="https://www.linkedin.com/in/phuong-doan-7024a42aa/" target="_blank"><i class="icon fa-brands fa-linkedin"></i></a>
        <a aria-label="Send email" href="mailto:doanduyphuong98@gmail.com" target="_blank"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Itch.io" href="https://soiboi121.itch.io/" target="_blank"><i class="icon fa-brands fa-itch-io"></i></a>
        <a aria-label="My Github" href="https://github.com/dphuong98" target="_blank"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>