<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="project-tabs">
  <img class="tablinks" src="{{ "/assets/img/ico_milkinc.png" | prepend: site.baseurl }}" onclick="openProj(event, 'milkinc')" id="defaultOpen">
  <img class="tablinks" src="{{ "/assets/img/gallos.png" | prepend: site.baseurl }}" onclick="openProj(event, 'gallos')">
  <img class="tablinks" src="{{ "/assets/img/ico_ssr.png" | prepend: site.baseurl }}" onclick="openProj(event, 'ssr')">
  <img class="tablinks" src="{{ "/assets/img/ico_jappo.png" | prepend: site.baseurl }}" onclick="openProj(event, 'jappo')">
  <img class="tablinks" src="{{ "/assets/img/sygil.png" | prepend: site.baseurl }}" onclick="openProj(event, 'sygil')">
  <img class="tablinks" src="{{ "/assets/img/ico_slack.png" | prepend: site.baseurl }}" onclick="openProj(event, 'slack')">
</div>

<div id="gallos" class="project">
  <h3><u>Gallos Kernow</u><a style="margin-left: 40px;" class="project-link" href="https://gourav-ranganath.itch.io/gallos-kernow" target="_blank">Check it out</a></h3>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/gallos_1.jpg" | prepend: site.baseurl }}" />
    <img alt="mountains" src="{{ "/assets/img/gallos_2.jpg" | prepend: site.baseurl }}" />
    <img alt="mountains" src="{{ "/assets/img/gallos_3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1083468903?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Gallos kernow trailer"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    <br/><br/><b>Featured Roles</b>
    <p class="just">Game programmer, Game designer</p>
    <b>My experience</b>
    <p class="just">This is my first team project in Falmouth University. The team was rather imbalance with a 5 designers to 3 programmers/artists because the other teams just hog all of them and the lecturers won't do anything about that. That being said, the people I'm certain the people I met in my team are without a doubt the chillest people on the planet.
    <br/>The game is a Cornwall council interest project about teaching children about resilience specifically medical, fire or coastal situations. The game ranges from dialing the correct number to what NOT to do during an emergency. I and my team divided research criterias, I focused on researchs on how children from the age 6-12 behave and learn new information. I personally learnt gamifying study materials and how to make UI elements more unuitive. We also improved a lot on our ability to work with a client and communicate to reach the game's purpose, from this I might consider getting a scrum masterrcertificate in the future.
    <br/>In my opinion, it's a pretty interesting growth experience and in the end, we overcame adversities and got a pretty good game out of it.
    </p>
    
  </div>
</div>

<div id="sygil" class="project">
  <h3><u>Sygil</u><a style="margin-left: 40px;" class="project-link" href="https://soiboi121.itch.io/sygil" target="_blank">Check it out</a></h3>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sygil_1.png" | prepend: site.baseurl }}" />
    <img alt="mountains" src="{{ "/assets/img/sygil_2.png" | prepend: site.baseurl }}" />
    <img alt="mountains" src="{{ "/assets/img/sygil_3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hEa78yDYKNM?si=oH7p8iqIQCmiouI_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br/><br/><b>Featured Roles</b>
    <p class="just">Game programmer, Game designer, Level designer.</p>
    <b>My experience</b>
    <p class="just">This is one of my first prototypes when attending the Game Design MA course at Falmouth University. The theme to design around was "Small scale, large scope" and being a magic enthusiast myself I dediced to make a game about combining symbols to cast spells.
      <br/>The idea itself has already been attempted by games like Tyranny and Two worlds but I have yet to see any game really shine  with it being the main mechanic.
      <br/>There are 5 levels in the game right now, each one is designed so that player can get that "Eureka" moment while also learn about game mechanics like pushing boxes on button, frost breath, fireblast and shatter.
      <br/>I really enjoyed designing the levels, the test players said the levels are inuitive, concise and interesting. I'm very happy about that, it's probably top 3 on my idea list, I'm looking forward to making it into a full game in the future.
    </p>
    
  </div>
</div>

<div id="milkinc" class="project">
  <h3><u>Milk Farm Tycoon</u><a style="margin-left: 40px;" class="project-link" href="https://play.google.com/store/apps/details?id=com.eastsidegames.milkinc&hl=en&gl=US" target="_blank">Check it out</a></h3>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/banner_milkinc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/g2-QERKdneM?si=-W-xI3beQjuPnABJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br/><br/><b>Featured Roles</b>
    <p class="just">UI/Gameplay programmer, Bridge engineer, Intern supervisor, Game design, Game testing, Tool programming.</p>
    <b>My experience</b>
    <p class="just">Working at NoPowerUp was a memorable experience for me. You know how corpo often say "we are like a family". For me, it did feel like a big family there, everyone was really friendly and knowledgeable.
      <br/>Milk Farm Tycoon was my very first project at NPU. The moment I finished my internship, I was instantly included in the pre-production team for Milk Farm Tycoon where I had to analyze and implement a complex codebase given by our overseas partner.
      <br/>About 50% of the game UI was put together by me, this includes every upgrade popup, quest indicators, dialogue/tutorial scenes and time-limited events.
      <br/>Here I also discovered my talent and enjoyment for debugging. I was the goto guy for bug report, I would quickly identify the problem and relay it to the culprit. One of the craziest bug I have encountered was when iOS push an update that make Unity trigger 2 OnApplicationPause and this disables all UI elements everytime the player minimize the app. My peers couldn't figure out why but I did (ง ͠° ͟ل͜ ͡°)ง.
    </p>
    
  </div>
</div>

<div id="ssr" class="project">
  <h3><u>Super Space Rhythm</u><a style="margin-left: 40px;" class="project-link" href="https://soiboi121.itch.io/super-space-rhythm" target="_blank">Check it out</a></h3>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/banner_ssr.png" | prepend: site.baseurl }}" />
    <img class="padded" alt="mountains" src="{{ "/assets/img/han_top.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZLcn1f2yfHU?si=oDXamyOpft4JZlhy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <br/><br/><b>Featured Roles</b>
    <p class="just">Engine Developer, Enemy AI Programmer, RPG Developer, Level Designer</p>
    <b>My experience</b>
    <p class="just" >Working on Super Space Rhythm is a moment in my life that I can always look fondly upon. Our university required a mandatory internship in a big company so I and my two friends decided to take Gameloft HAN's summer internship.
      <br/>We learnt a lot about the basics of game development like how to build a render pipeline using OpenGL, implement shaders and apply physics. After that, we were divided into teams to make a game in a month for the internship gamejam. At first, my friends and I were placed in separate teams but due to my outstanding negotiation skills, the supervisor decided to let me and my friends be in the same team albeit one person short compared to other teams.
      <br/>We had a lot of fun making a game we would enjoy. In the end, we managed to take home first place in Gameloft HAN's internship gamejam.</p>
  </div>
</div>

<div id="slack" class="project">
  <h3><u>Slack Slayer</u><a style="margin-left: 40px;" class="project-link" href="https://soiboi121.itch.io/slack-slayer" target="_blank">Check it out</a></h3>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/banner_slack.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z0pfyEJOx38?si=u4YKLqOqJLCf6cxO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <br/><br/><b>Featured Roles</b>
    <p class="just">Game Developer</p>
    <b>My experience</b>
    <p class="just">At the time, I was really interested in various methods of game design and one of the YouTube channels I would frequent for knowledge is Game Maker Toolkit. Having learnt that they host an annual gamejam, I decided to participate with a friend. That year's theme was "Out of Control" so we designed a game about nagging slacking employees called "Slack Slayer".
      <br>The game was made in 48 hours in Unity Game Engine using free assets on the internet. It's a fairly simple but polished game and we enjoyed making it. It helped us measure our game-making skills and we were surprised that we could make such a game in a short period.</p>
    
  </div>
</div>

<div id="jappo" class="project">
  <h3><u>Jappo (Prototype)</u></h3>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/banner_jappo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_pWFpmRRWRo?si=zvqaHL6OMlvKPbp5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br/><br/><b>Featured Roles</b>
    <p class="just">Data Engineer, VR Game Developer, Game Designer</p>
    <b>My experience</b>
    <p class="just">Jappo (Prototype) is a project that originated from my bachelor graduation thesis, it's about learning how to write Japanese words and actualizing those words as actions or events in the game world to solve puzzles or fight enemies.
      <br/>Currently, the prototype has handwriting recognition and actualize mechanics, I'm planning on adding sound recognition in the future to let the player train their pronunciation.
      <br/>I am currently putting this project on pause until I can find a new VR device but no doubt I will be making this into a full game in the future.</p>
  </div>
</div>

<script>
  function openProj(evt, projectID) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("project");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(projectID).style.display = "block";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>